{% load static %}
<footer>
    <div class="container">
        <div class="footer__inner">
            <div class="footer__left_panel">
                <div class="footer__left_item">
                    <img src="{% static 'img/icons/Phone.png' %}" alt="" class="footer__icon">
                    <div class="footer__text">+7 (34782) 5-77-98</div>
                </div>
                <div class="footer__left_item">
                    <img src="{% static 'img/icons/VK.png' %}" alt="" class="footer__icon">
                    <div class="footer__text">https://vk.com/gapoutguk</div>
                </div>
                <div class="footer__left_item">
                    <img src="{% static 'img/icons/Mail.png' %}" alt="" class="footer__icon">
                    <div class="footer__text">tguk@rambler.ru</div>
                </div>
                <div class="footer__text">© 2021, @ТГЮК</div>
                <!--LiveInternet counter--><a href="https://www.liveinternet.ru/click"
                target="_blank"><img id="licntD437" width="88" height="31" style="border:0" 
                title="LiveInternet: показано число просмотров за 24 часа, посетителей за 24 часа и за сегодня"
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7"
                alt=""/></a><script>(function(d,s){d.getElementById("licntD437").src=
                "https://counter.yadro.ru/hit?t14.11;r"+escape(d.referrer)+
                ((typeof(s)=="undefined")?"":";s"+s.width+"*"+s.height+"*"+
                (s.colorDepth?s.colorDepth:s.pixelDepth))+";u"+escape(d.URL)+
                ";h"+escape(d.title.substring(0,150))+";"+Math.random()})
                (document,screen)</script><!--/LiveInternet-->
            </div>
            <div class="footer__right_panel">
                <div class="footer__text">Туймазы, Микрорайон Молодежный, 14, каб. 309/1</div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1373.9310979877048!2d53.68991272784834!3d54.60985045648734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb1c66aba68a6f311!2z0KLRg9C50LzQsNC30LjQvdGB0LrQuNC5INCz0L7RgdGD0LTQsNGA0YHRgtCy0LXQvdC90YvQuSDRjtGA0LjQtNC40YfQtdGB0LrQuNC5INC60L7Qu9C70LXQtNC2!5e0!3m2!1sru!2sru!4v1621974631640!5m2!1sru!2sru" width="600" height="450" style="border:0;max-width: 683px; width: 100%; max-height: 357px; border-radius: 20px; margin: 0 auto; display: block;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</footer>